<div class="class">
    <p>Pacientes:</p>
    <ul>
        <li *ngFor="let patient of patients">
            Nome: {{patient.name}}
            Etinia: {{patient.ethnicity}}
            Nacionalidade: {{patient.nationality}}
            CPF: {{patient.cpf}}
            Data de Nascimento: {{patient.birth_date}}
            Estado civil: {{patient.marital_status}}
            Endereço: {{patient.address}}
            Genero: {{patient.state}}
            Cidade: {{patient.city}}
            Genero:{{patient.gender}}
            Telefone: {{patient.phone_number}}

        </li>
    </ul>
</div>